.DS_Store
*.log*.txt
*.log
*.pcap

# Python Virtual Environments
venv/
.venv/
env/
.env/
pyenv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Editor and OS Junk
.vscode/
.idea/
*.swp
*~

*_tx.txt
*_rx.txt